<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>
    <script type="module" src="./script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div id="app">
        <ul ref="list" :ref="list" class="h-[600px] overflow-scroll w-[400px] flex flex-col gap-[20px] mx-auto">
            <li :id="item.id" class="border-[2px] relative rounded-md border-blue px-[60px]  py-[20px]" v-for="(item, index) in products"
                :key="item.id">
                <h3 class="font-bold text-lg mb-[10px]">{{item.id}}: {{item.title}}</h3>
                <p class="text-md ">{{item.price}} USD</p>
                <div v-if="index === observedElementDistanceToBorder" :ref="setTopElement" class="absolute top-0 left-0 right-0 left-0"></div>
                <div v-if="index === (products.length - 1) - observedElementDistanceToBorder" :ref="setBottomElement" class="absolute top-0 left-0 right-0 left-0"></div>
            </li>
        </ul>
    </div>
</body>

</html>